.pageBorder {
  left:0;
  right:0;
  top:0;
  bottom:0;
}
  .outer {
    position:fixed;
    border-style:solid;
    border-width:4px;
    border-color:#604559;
    background-color:#966F8B;
  }
  .middle {
    position:absolute;
    border-style:solid;
    border-width:2px;
    border-color:#966F8B;
    background-color:#BB94B0;
  }
  .inner {
    position:absolute;
    border-style:solid;
    border-width:1px;
    border-color:#BB94B0;
    background-color:#D8B9D0;
    text-align:center;
    overflow:auto;
  }

#title {
  margin:-2px auto 4px;
  font-family:monospace;
  font-size:5.5em;
  text-decoration:underline;
}

#displayCanv {
  width:120px;
  height:60px;
  background:#6A4086;
  margin-top:3px;
  margin-bottom:0px;
  border-radius:3px;
}

.uiButton {
  display:inline-flex;
  width:45px;
  height:30px;
  background:white;
  border-radius:3px;
  margin-top:3px;
  margin-bottom:-11px;
  box-sizing:border-box;
  opacity:81%;
  cursor: pointer;
}
  #infoButton {
    margin-right:1.5px;
    background-image: url("./assets/pageButtons/infoButton.png");
  }
  #waveButton {
    margin-left:1.5px;
    background-image: url("./assets/pageButtons/waveButton.png");
  }
.pageButton {
  margin-left:3px;
  margin-right:3px;
  background-position: center;
}
  #oscButton {
    background-image: url("./assets/pageButtons/oscPage.png");
  }
  #ratButton {
    background-image: url("./assets/pageButtons/ratioPage.png");
  }
  #ofxButton {
    background-image: url("./assets/pageButtons/crushPage.png");
  }
  #panButton {
    background-image: url("./assets/pageButtons/panPage.png");
  }
  #ampButton {
    background-image: url("./assets/pageButtons/adsrPage.png");
  }
  #lfoButton {
    background-image: url("./assets/pageButtons/lfoPage.png");
  }

.pageSelect {
  display:inline-flex;
  width:45px;
  height:5px;
  background:#BB94B0;
  border-radius:3px;
  margin-top:3px;
  margin-bottom:-3px;
  box-sizing:border-box;
  margin-left:3px;
  margin-right:3px;
  background-position: center;
}
  #oscSelect {
    background:#A962D8;
  }
  #ratSelect {
    background:#E93F3F;
    opacity:25%;
  }
  #ofxSelect {
    background:#5D2E7B;
    opacity:25%;
  }
  #panSelect {
    background:#7CDE89;
    opacity:25%;
  }
  #ampSelect {
    background:#7CA7DE;
    opacity:25%;
  }
  #lfoSelect {
    background:#999999;
    opacity:25%;
  }

.uiSelect {
  display:inline-flex;
  width:45px;
  height:5px;
  background:#BB94B0;
  border-radius:3px;
  box-sizing:border-box;
  background-position: center;
  margin-top:none;
  margin-bottom:none;
}

  #waveSelect, #infoSelect {
    margin-top:none;
    margin-bottom:none;
    height:4.5px;
  }
    #waveSelect {
      margin-left:1.5px;
      margin-right:0px;
    }
    #infoSelect {
      margin-left:0px;
      margin-right:1.5px;
    }

.uiGroup {
  position:absolute;
  min-width:180px;
  max-width:240px;
  left:20%;
  right:20%;
  padding-top:24px;
  margin:0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pageGroup {
  position:absolute;
  min-width:180px;
  max-width:320px;
  bottom:0px;
  margin-bottom:-24px;
  display:inline-flex;
  justify-content:center;
  align-items:center;
  flex-direction:row;
}

.pageSelectGroup {
  position:absolute;
  min-width:180px;
  max-width:320px;
  bottom:0px;
  margin-bottom:-40px;
  display:inline-flex;
  justify-content:center;
  align-items:center;
  flex-direction:row;
}

.auxGroup {
  position:absolute;
  min-width:180px;
  max-width:320px;
  bottom:0px;
  margin-bottom:-80px;
  display:inline-flex;
  justify-content:center;
  align-items:center;
  flex-direction:row;
}

.centerGroup {
  margin:0 auto;
}

.sliderGroup {
  margin:0 auto;
  transform: rotate(0.75turn);
}
  #sg1 {
    margin-right:-12.5px;
  }
  #sg2 {
    margin-left:-12.5px;
  }

.slider {
  writing-mode: bt-lr;
  -webkit-appearance:none;
  display:block;
  opacity:.75;
  transition:opacity .15s;
  background:#BB94B0;
  border-radius:3px;
  outline:none;
}
  .pSlider {
    width:104px;
    height:12px;
    padding:3px 0px;
    margin:12px;
  }
  .aSlider {
    width:96px;
    height:12px;
    padding:3px 0px;
    margin:3px;
  }
  .slider:hover {
    opacity:1;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance:none;
    width:18px;
    height:18px;
    cursor:pointer;
    border-radius:3px;
    background:#6A4086;
  }
