.pageBorder {
  left:0;
  right:0;
  top:0;
  bottom:0;
}
  .outer {
    position:fixed;
    border-style:solid;
    border-width:4px;
    border-color:#604559;
    background-color:#966F8B;
  }
  .middle {
    position:absolute;
    border-style:solid;
    border-width:2px;
    border-color:#966F8B;
    background-color:#BB94B0;
  }
  .inner {
    position:absolute;
    border-style:solid;
    border-width:1px;
    border-color:#BB94B0;
    background-color:#D8B9D0;
    text-align:center;
    overflow:auto;
    justify-content: center;
    align-items: center;
  }
  #contentDiv {
    left: 20%;
    right: 20%;
    display:flex;
    border-style:solid;
    border-width:2px;
    border-radius:6px;
    border-color:#e6ccdf;
    background-color:#e6ccdf;
    width:340px;
    height:450px;
    margin:10px auto 0px;
  }

#title {
  margin:-3px auto 0px;
  font-family:monospace;
  font-size:3.6em;
  text-decoration:underline;
}

#subTitle {
  margin:-3px auto -3px;
  font-family:monospace;
  font-size:1.2em;
}

#pageTitle, #lfoTitle {
  margin:12px auto -26px;
  font-family:monospace;
  font-size:1.4em;
  font-weight:bold;
  color: #5D2E7B;
  text-shadow:
    -.5px -.5px 1px #f0dfeb,
    .5px -.5px 1px #f0dfeb,
    -.5px .5px 1px #f0dfeb,
    .5px .5px 1px #f0dfeb;
}
  #pageTitle {
    margin:12px auto -26px;
  }
  #lfoTitle {
    margin:12px auto -30px;
  }
#lfoInfo1, #lfoInfo2, #lfoInfo3, #lfoBase, #lfoFreq, #bpmDisp, #reverbDisp, #seqInfo1,
#seqInfo2, #seqInfo3, #scaleDisp, #rootDisp, #scaleTitle, #rootTitle {
  font-family:monospace;
  font-weight:bold;
}
  #seqInfo1, #seqInfo2, #seqInfo3 {
    width:102px;
    margin:0px auto 9px;
    font-size:1.0em;
  }
  #lfoInfo1, #lfoInfo2, #lfoInfo3 {
    width:102px;
    margin:0px auto 9px;
    font-size:1.0em;
  }
  #lfoBase, #lfoFreq {
    width:102px;
    margin:0px auto;
    font-size:.9em;
  }
  #bpmDisp, #reverbDisp {
    width:154px;
    margin:0px auto 9px;
    font-size:1.0em;
  }
  #scaleDisp, #rootDisp, #scaleTitle, #rootTitle {
    width:154px;
    margin:0px auto 9px;
  }
    #scaleTitle, #rootTitle {
      font-size:1.0em;
      text-decoration:underline;
    }
    #scaleDisp, #rootDisp {
      font-size:.95em;
    }

#displayCanv {
  width:120px;
  height:60px;
  background:#6A4086;
  margin-top:3px;
  margin-bottom:0px;
  border-radius:3px;
}

.uiButton {
  display:inline-flex;
  width:45px;
  height:30px;
  background:white;
  background-size:contain;
  border-radius:3px;
  margin-top:3px;
  margin-bottom:-11px;
  box-sizing:border-box;
  opacity:81%;
  cursor: pointer;
}
  #infoButton {
    margin-right:1.5px;
    background-image: url("./assets/pageButtons/infoButton2.png");
  }
  #waveButton {
    margin-left:1.5px;
    background-image: url("./assets/pageButtons/waveButton2.png");
  }
.pageButton {
  margin-left:3px;
  margin-right:3px;
  background-position: center;
}
  #oscButton {
    background-image: url("./assets/pageButtons/oscPage2.png");
  }
  #ratButton {
    background-image: url("./assets/pageButtons/ratioPage2.png");
  }
  #ofxButton {
    background-image: url("./assets/pageButtons/crushPage2.png");
  }
  #panButton {
    background-image: url("./assets/pageButtons/panPage2.png");
  }
  #ampButton {
    background-image: url("./assets/pageButtons/adsrPage2.png");
  }
  #revButton {
    background-image: url("./assets/pageButtons/reverbPage2.png");
  }

.pageSelect {
  display:inline-flex;
  width:45px;
  height:5px;
  background:#BB94B0;
  border-radius:3px;
  margin-top:3px;
  margin-bottom:-3px;
  box-sizing:border-box;
  margin-left:3px;
  margin-right:3px;
  background-position: center;
  opacity:20%;
}
  #oscSelect {
    background:#5D2E7B;
  }
  #ratSelect {
    background:#A15ECE;
  }
  #ofxSelect {
    background:#C75858;
  }
  #panSelect {
    background:#8AC497;
  }
  #ampSelect {
    background:#848EDF;
  }
  #revSelect {
    background:#DB689C;
  }

.uiSelect {
  display:inline-flex;
  width:45px;
  height:5px;
  background:#6A4086;
  border-radius:3px;
  box-sizing:border-box;
  background-position: center;
  margin-top:none;
  margin-bottom:none;
}

  #waveSelect, #infoSelect {
    margin-top:none;
    margin-bottom:none;
    height:4.5px;
  }
    #waveSelect {
      margin-left:1.5px;
      margin-right:0px;
      opacity:25%;
    }
    #infoSelect {
      margin-left:0px;
      margin-right:1.5px;
      opacity:25%;
    }

.uiGroup {
  position:absolute;
  min-width:180px;
  max-width:240px;
  left:20%;
  right:20%;
  padding-top:24px;
  margin:0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.pageGroup, .pageSelectGroup, .seqNoteGroup, .seqTrigGroup, .seqGroup, .seqInfo,
.lfoTitleGroup, .lfoPatch, .lfoInfo, .lfoInfo2, .lfoGroup, .trSliderGroup, .trInfo,
.lfoModeGroup, .srSliderGroup, .srInfo, .srTitle {
  position:absolute;
  min-width:180px;
  max-width:320px;
  bottom:0px;
  display:inline-flex;
  justify-content:center;
  align-items:center;
  flex-direction:row;
}
  #pageTitle {
    margin-top:2px;
  }

  .pageGroup {
    margin-bottom:-22px;
  }
  .pageSelectGroup {
    margin-bottom:-38px;
  }

  .trSliderGroup {
    margin-bottom:-68px;
  }
  .trInfo {
    margin-bottom:-89px;
  }

  .seqNoteGroup {
    margin-bottom:-87px;
  }
  .seqTrigGroup {
    margin-bottom:-108px;
  }
  .seqGroup {
    margin-bottom:-146px;
  }
  .seqInfo {
    margin-bottom:-168px;
  }

  .lfoTitleGroup {
    margin-bottom:-150px;
  }
  .lfoPatch {
    margin-bottom:-172px;
  }
  .lfoInfo2 {
    margin-bottom:-198px;
  }
  .lfoGroup {
    margin-bottom:-221px;
  }
  .lfoInfo {
    margin-bottom:-243px;
  }
  .lfoModeGroup {
    margin-bottom:-243px;
  }

  .srTitle {
    margin-bottom:-278px;
  }
  .srSliderGroup {
    margin-bottom:-291px;
  }
  .srInfo {
    margin-bottom:-312px;
  }

.noteSeq {
  display:inline-flex;
  width:16px;
  height:16px;
  border-radius:3px;
  margin-top:3px;
  margin-bottom:-11px;
  margin-left: 1.2px;
  margin-right: 1.2px;
  box-sizing:border-box;
  cursor: pointer;
  opacity:33%;
}
  .leftMid {
    margin-right: 4.0px;
  }
  .rightMid {
    margin-left: 4.0px;
  }
  .noteA {
    background:#8b478f;
  }
  .noteB {
    backGround:#73478f;
  }
.trigSeq {
  display:inline-flex;
  width:16px;
  height:16px;
  background:#582975;
  border-radius:3px;
  margin-top:3px;
  margin-bottom:-11px;
  margin-left: 1.4px;
  margin-right: 1.4px;
  box-sizing:border-box;
  cursor: pointer;
  opacity: 33%;
}
.patchSelect, .modeSelect {
  display:inline-flex;
  width:18px;
  height:18px;
  background:white;
  border-radius:3px;
  margin-top:3px;
  margin-bottom:-11px;
  margin-left: 2px;
  margin-right: 2px;
  box-sizing:border-box;
  cursor: pointer;
}
  .patchSelect {
    opacity:33%;
  }
  .modeSelect {
    opacity:50%;
  }
  .selected {
    opacity: 100%;
  }
  #MS1, #MS2, #MS3 {
    background-size: contain;
  }
  #MS1 {
    background-image: url("./assets/modeButtons/fixedLFO.png")
  }
  #MS2 {
    background-image: url("./assets/modeButtons/tempoLFO.png")
  }
  #MS3 {
    background-image: url("./assets/modeButtons/tunedLFO.png")
  }

.centerGroup {
  margin:0 auto;
}

.sliderGroup {
  margin:0 auto;
  transform: rotate(0.75turn);
}
  #sg1 {
    margin-right:-12.5px;
  }
  #sg2 {
    margin-left:-12.5px;
  }

.slider {
  writing-mode: bt-lr;
  -webkit-appearance:none;
  display:block;
  opacity:.75;
  transition:opacity .15s;
  background:#BB94B0;
  border-radius:3px;
  outline:none;
}
  .pSlider {
    width:104px;
    height:12px;
    padding:3px 0px;
    margin:12px;
  }
  .aSlider {
    width:96px;
    height:12px;
    padding:3px 0px;
    margin:3px;
  }
  .seqSlider {
    width:96px;
    height:12px;
    padding:3px 0px;
    margin:3px;
  }
  .trSlider, .srSlider {
    width:147px;
    height:12px;
    padding:3px 0px;
    margin:3px;
  }
  .slider:hover {
    opacity:1;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance:none;
    width:18px;
    height:18px;
    cursor:pointer;
    border-radius:3px;
  }
    .oscSlider::-webkit-slider-thumb, .oscPatch {
      background:#5D2E7B;
      background-size:contain;
    }
    .ratSlider::-webkit-slider-thumb, .ratPatch {
      background:#A15ECE;
      background-size:contain;
    }
    .ofxSlider::-webkit-slider-thumb, .ofxPatch {
      background:#C75858;
      background-size:contain;
    }
    .panSlider::-webkit-slider-thumb, .panPatch {
      background:#8AC497;
      background-size:contain;
    }
    .ampSlider::-webkit-slider-thumb, .ampPatch {
      background:#848EDF;
      background-size:contain;
    }
    .revSlider::-webkit-slider-thumb, .revPatch {
      background:#DB689C;
      background-size:contain;
    }
    .bpmSlider::-webkit-slider-thumb, .reverbSlider::-webkit-slider-thumb,
    .srSlider::-webkit-slider-thumb {
      background:#3f1e54;
      background-size:contain;
    }
    .seqSlider::-webkit-slider-thumb {
      background:#3f1e54;
    }
